<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Social Wiki View Lens</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="color-scheme" content="light dark" />
        <style>
            body {
                width: 100dvw;
                height: 100dvh;
                margin: 0;
            }
        </style>
        <script type="module" src="/src/backend/init-client.ts"></script>
        <script type="module" src="/src/lenses/view/main.ts"></script>
    </head>
    <body>
        <sw-transclude id="transclude">Loading...</sw-transclude>
    </body>
</html>
