<!--
THIS IS STARTER CODE FOR A NEW SITE
Feel free to select all of this code,
delete it, and replace it with your own code.
-->
<!doctype html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />

  <!-- Connect the site to Social.Wiki -->
  <script src="__INIT_URL__"></script>

  <!-- Better default styling -->
  <meta name="color-scheme" content="light dark" />
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css"
  />

  <!-- Initialize Vue.js with Graffiti -->
  <script type="module">
    import { createApp } from "vue";
    import { GraffitiPlugin } from "@graffiti-garden/wrapper-vue";

    createApp({
      template: "#template",
      data: () => ({
        processingWave: false,
        // Add more app data here
      }),
    })
      .use(GraffitiPlugin, {
        graffiti: new window.Graffiti(),
      })
      .mount("#app");
  </script>
</head>

<body>
  <div id="app"><h1>Loading…</h1></div>

  <template id="template">
    <h1>Your site here!</h1>

    <!-- "Discover" any waves from this site -->
    <graffiti-discover
      v-slot="{ objects: waves, isFirstPoll }"
      :channels="[ __SITE_NAME__ ]"
      :schema="{ properties: { value: {
        anyOf: [
          {
            required: ['action', 'site name'],
            properties: {
              action: { const: 'Wave' },
              'site name': { const: __SITE_NAME__ }
            }
          },
          {
            required: ['activity'],
            properties: { activity: { const: 'Wave' } }
          }
        ]
      }}}"
    >
      <button
        v-if="!$graffitiSession.value"
        @click="$graffiti.login()"
      >
        Log in to wave!
      </button>

      <template v-else>
        <button v-if="isFirstPoll || processingWave" disabled>
          👋 Loading…
        </button>

        <!-- If you haven't waved yet, show "Wave" button -->
        <button
          v-else-if="!waves.some(
            wave => wave.actor === $graffitiSession.value.actor
          )"
          @click="
            processingWave = true;
            $graffiti.post(
              {
                value: { action: 'Wave', 'site name': __SITE_NAME__ },
                channels: [ __SITE_NAME__ ],
              },
              $graffitiSession.value
            ).finally(() => {
              processingWave = false;
            });
          "
        >
          👋 Wave!
        </button>

        <!-- If you have already waved, show "Unwave" button -->
        <button
          v-else
          @click="
            waves
              .filter(wave =>
                wave.actor === $graffitiSession.value.actor
              )
              .forEach(wave => {
                processingWave = true;
                $graffiti.delete(
                  wave,
                  $graffitiSession.value
                ).finally(() => {
                  processingWave = false;
                });
              });
          "
        >
          👋 Unwave
        </button>
      </template>

      <p>
        {{ new Set(waves.map(w => w.actor)).size }} people have waved from this site.
      </p>
    </graffiti-discover>
  </template>
</body>
