* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --text-color: #202122;
    --title-color: #101418;
    --border-color: #c8ccd1;
    --link-color: #36c;
    --link-hover-color: #3056a9;
}

/* Body is exactly screen view */
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: var(--text-color);
    height: 100dvh;
    width: 100dvw;
    display: flex;
    flex-direction: column;
}

#app {
    display: contents;
}

/* Do not stretch header */
header {
    flex: 0 0 auto;
}

/* Stretch main to fill body */
main {
    flex: 1 1 auto;
    overflow-y: auto;
    min-height: 0;
}

button,
input {
    font-size: inherit;
    font-family: inherit;
}

a,
button {
    color: var(--link-color);
    cursor: pointer;
    text-decoration: none;
    border: none;
    background: none;
}

:is(a, button):hover {
    color: var(--link-hover-color);
    text-decoration: underline 2px;
}

h1 {
    font-family: "Linux Libertine", "Georgia", "Times", "Source Serif 4", serif;
    color: var(--title-color);
}
