* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body is exactly screen view */
body {
    margin: 0;
    padding: 0;
    height: 100dvh;
    width: 100dvw;
    display: flex;
    flex-direction: column;
}

#app {
    display: contents;
}

/* Do not stretch header */
header {
    flex: 0 0 auto;
}

/* Stretch main to fill body */
main {
    flex: 1 1 auto;
    overflow-y: auto;
    min-height: 0;
}

button,
input {
    font-size: inherit;
    font-family: inherit;
}

a,
button {
    color: var(--link-color);
    cursor: pointer;
    text-decoration: none;
    border: none;
    background: none;
}

:is(a, button):hover {
    color: var(--link-hover-color);
    text-decoration: underline 2px;
}

:is(a, button).warning {
    color: var(--warning-color);
}

:is(a, button).warning:hover {
    color: var(--warning-hover-color);
}

:is(a, button).secondary {
    color: var(--secondary-color);
}

:is(a, button).secondary:hover {
    color: var(--secondary-hover-color);
}

h1 {
    font-family: "Linux Libertine", "Georgia", "Times", "Source Serif 4", serif;
    color: var(--title-color);
}

header nav > ul {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    list-style: none;
}
